force-app/main/default/flows/HP_Bot_CreateCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>set_permission_to_ask_for_not_de_sat</name>
        <label>set permission to ask for not de sat</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ask_for_note_satisfaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Chat_Transcript_with_Case_and_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_chat_indisponible</name>
        <label>check if chat indisponible</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>get_hp_chat_recordTypeID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chat_est_indisponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chatIndisponible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oui</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_HP_CaseRecontact_recordTypeID</targetReference>
            </connector>
            <label>chat est indisponible</label>
        </rules>
    </decisions>
    <formulas>
        <name>First_Name_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!First_Name}, FIND(&quot; &quot;,{!First_Name})-1)</expression>
    </formulas>
    <formulas>
        <name>Full_Name</name>
        <dataType>String</dataType>
        <expression>{!First_Name}&amp;&quot; &quot;&amp;{!Last_Name}</expression>
    </formulas>
    <formulas>
        <name>Last_Name_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!Last_Name}, FIND(&quot; &quot;,{!Last_Name})-1)</expression>
    </formulas>
    <interviewLabel>HP_Bot_CreateCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HP_Bot_CreateCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Chat_Transcript_with_Case_and_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>objet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_cate_indispo</name>
        <label>Create Case cate indispo</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>set_permission_to_ask_for_not_de_sat</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Type__c</field>
            <value>
                <stringValue>HP_ChatIndispo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queue_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>objet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>get_contact_from_email_and_name</name>
        <label>get contact from email and name</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_queue_hp_niveau1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_HP_CaseRecontact_recordTypeID</name>
        <label>get HP_CaseRecontact recordTypeID</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_cate_indispo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HP_CaseRecontact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_hp_chat_recordTypeID</name>
        <label>get hp_chat recordTypeID</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HP_Chat</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_queue_hp_niveau1</name>
        <label>get queue hp_niveau1</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_chat_indisponible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HP_Niveau_1</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queue_Owner</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chat_Transcript_with_Case_and_contact</name>
        <label>Update Chat Transcript with Case and contact</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact_from_email_and_name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ask_for_note_satisfaction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>ID of created case</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>chatIndisponible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Issue_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queue_Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
