force-app/main/default/flows/HP_ContratHappe_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>portreFeuilExists</name>
        <label>portreFeuilExists</label>
        <locationX>629</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>porteFeuilExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>porteFeuilleContratId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContratHappe</targetReference>
            </connector>
            <label>porteFeuilExists</label>
        </rules>
    </decisions>
    <interviewLabel>HP Contrat Happe Porte Feuil Contrat Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HP Contrat Happe Porte Feuil Contrat Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPorteFeuilleId</name>
        <label>getPorteFeuilleContratId</label>
        <locationX>459</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>portreFeuilExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Xdata_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HP_PortefeuilleContratXdataId__c</elementReference>
            </value>
        </filters>
        <object>HP_Porte_Feuille_Contrat__c</object>
        <outputAssignments>
            <assignToReference>porteFeuilleContratId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateContratHappe</name>
        <label>updateContratHappe</label>
        <locationX>868</locationX>
        <locationY>389</locationY>
        <inputAssignments>
            <field>HP_Porte_Feuille_Contrat__c</field>
            <value>
                <elementReference>porteFeuilleContratId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPorteFeuilleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HP_PortefeuilleContratXdataId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>HP_Contrat__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>porteFeuilleContratId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PorteFeuilleContratXdataId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
