force-app/main/default/flows/HP_Deleteview_IBAN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>List_is_empty</name>
        <label>List is empty</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>delete_view_IBAN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>empty</label>
        </rules>
    </decisions>
    <formulas>
        <name>refDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 365</expression>
    </formulas>
    <interviewLabel>HP Deleteview IBAN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HP Deleteview IBAN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_view_IBAN</name>
        <label>delete view IBAN</label>
        <locationX>308</locationX>
        <locationY>516</locationY>
        <inputReference>recordList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_list</name>
        <label>get list</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>refDate</elementReference>
            </value>
        </filters>
        <object>HP_ViewHistoryIBAN__c</object>
        <outputReference>recordList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_list</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-13</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HP_ViewHistoryIBAN__c</objectType>
    </variables>
</Flow>
