force-app/main/default/flows/HP_Note_de_satisfaction_processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assign_contact_Link</name>
        <label>assign contact Link</label>
        <locationX>1498</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>$Record.HP_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sfIdContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Contact_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Chat_AS</name>
        <label>Chat AS</label>
        <locationX>1263</locationX>
        <locationY>1851</locationY>
        <assignmentItems>
            <assignToReference>chatScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chatCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Assugnment</name>
        <label>Contact Assugnment</label>
        <locationX>757</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>currentContact.HP_Dernier_score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_global_moyenne_score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>globalAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_Email_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailScoreAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_Telephone_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>telephoneScoreAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_Chat_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chatScoreAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HP_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_Souscription_NPS_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>npsAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_Souscription_CSAT_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>csatSouscriptionAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_Resil_CSAT_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mktcResilCsatAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_Resil_NPS_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mktcResilNPSAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_VDS_CSAT_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mktcVDCCsatAVG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentContact.HP_VDS_NPS_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mktcVDSNpsAVG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_AS</name>
        <label>Email AS</label>
        <locationX>1772</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>emailScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_note_to_contact</name>
        <label>Link note to contact</label>
        <locationX>1018</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>sfIdContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HP_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Case_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mktc_resil_as</name>
        <label>mktc resil as</label>
        <locationX>1586</locationX>
        <locationY>2314</locationY>
        <assignmentItems>
            <assignToReference>mktcResilCSATCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mktcResilCSATScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mktcResilNPSCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mktcResilNPSScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_NPS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mktc_vdc_as</name>
        <label>mktc vdc as</label>
        <locationX>1859</locationX>
        <locationY>2313</locationY>
        <assignmentItems>
            <assignToReference>mktcVDCCsatCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mktcVDCCSATScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mktcVDCNPSCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mktcVDCNPSScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_NPS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>score</name>
        <label>score</label>
        <locationX>1592</locationX>
        <locationY>1497</locationY>
        <assignmentItems>
            <assignToReference>globalTotalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>globalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcul_par_Canal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Scores_Souscription</name>
        <label>Scores Souscription</label>
        <locationX>1432</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>csatSouscriptionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>csatSouscriptionScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>npsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>npsScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_NPS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tel</name>
        <label>Telephone</label>
        <locationX>1538</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>telephoneScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Note_Satisfaction.HP_satisfaction_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>telephoneCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Calcul_par_Canal</name>
        <label>Calcul par Canal</label>
        <locationX>1606</locationX>
        <locationY>1684</locationY>
        <defaultConnector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Note_Satisfaction.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chat_AS</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
        <rules>
            <name>telephone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Note_Satisfaction.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Téléphone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tel</targetReference>
            </connector>
            <label>telephone</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Note_Satisfaction.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_AS</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>souscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Note_Satisfaction.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Souscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scores_Souscription</targetReference>
            </connector>
            <label>souscription</label>
        </rules>
        <rules>
            <name>MKTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Note_Satisfaction.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MKTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MKTC_type_enquete</targetReference>
            </connector>
            <label>MKTC</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check le canal de la note de souscription pour la création du case.</description>
        <name>check_canal_note</name>
        <label>check canal note</label>
        <locationX>710</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_souscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Souscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_case_souscription</targetReference>
            </connector>
            <label>is souscription</label>
        </rules>
        <rules>
            <name>is_MKTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MKTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_MKTC</targetReference>
            </connector>
            <label>is MKTC</label>
        </rules>
        <rules>
            <name>is_Telephone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Téléphone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Telephone</targetReference>
            </connector>
            <label>is Telephone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Case_decision</name>
        <label>Creation Case decision</label>
        <locationX>1156</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>has_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>condition_valid</name>
            <conditionLogic>1 OR 2 OR (3 AND 4) OR (3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>verbatimCodition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HP_satisfaction_score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HP_satisfaction_need_recall__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>oui</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HP_satisfaction_canal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Souscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HP_satisfaction_canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MKTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>load_RT</targetReference>
            </connector>
            <label>condition valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_contact</name>
        <label>has contact</label>
        <locationX>1173</locationX>
        <locationY>1304</locationY>
        <defaultConnector>
            <targetReference>Load_Note_satisfaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_contact_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sfIdContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>no contact id</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_contact_exit</name>
        <label>If contact exit</label>
        <locationX>1442</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>assign_contact_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Idestnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sfIdContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Case_decision</targetReference>
            </connector>
            <label>Id est null</label>
        </rules>
    </decisions>
    <decisions>
        <name>MKTC_type_enquete</name>
        <label>MKTC type enquete</label>
        <locationX>1664</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Vie_du_contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Note_Satisfaction.HP_TypeEnquete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vie du contrat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mktc_vdc_as</targetReference>
            </connector>
            <label>is Vie du contrat</label>
        </rules>
        <rules>
            <name>is_R_siliation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Note_Satisfaction.HP_TypeEnquete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Résiliation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mktc_resil_as</targetReference>
            </connector>
            <label>is Résiliation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xdata_Id_Exist</name>
        <label>Xdata Id Exist</label>
        <locationX>440</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Link_note_to_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XDATA_Id_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HP_client_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HP_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Case_decision</targetReference>
            </connector>
            <label>XDATA Id et HP_Contact null</label>
        </rules>
        <rules>
            <name>XDATA_Id_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HP_client_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HP_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>XDATA Id Only</label>
        </rules>
    </decisions>
    <formulas>
        <name>chatScoreAVG</name>
        <dataType>Number</dataType>
        <expression>{!chatScore}/{!chatCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>csatSouscriptionAVG</name>
        <dataType>Number</dataType>
        <expression>{!csatSouscriptionScore}/{!csatSouscriptionCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Date à J+1</description>
        <name>dateJ1</name>
        <dataType>Date</dataType>
        <expression>Today() + 1</expression>
    </formulas>
    <formulas>
        <name>emailScoreAVG</name>
        <dataType>Number</dataType>
        <expression>{!emailScore}/{!emailCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>globalAVG</name>
        <dataType>Number</dataType>
        <expression>{!globalTotalScore} /{!globalCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mktcResilCsatAVG</name>
        <dataType>Number</dataType>
        <expression>{!mktcResilCSATScore}/{!mktcResilCSATCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mktcResilNPSAVG</name>
        <dataType>Number</dataType>
        <expression>{!mktcResilNPSScore}/{!mktcResilNPSCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mktcVDCCsatAVG</name>
        <dataType>Number</dataType>
        <expression>{!mktcVDCCSATScore}/{!mktcVDCCsatCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mktcVDSNpsAVG</name>
        <dataType>Number</dataType>
        <expression>{!mktcVDCNPSScore}/{!mktcVDCNPSCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Valeur de la note nps pour le case</description>
        <name>noteNPS</name>
        <dataType>String</dataType>
        <expression>if({!$Record.HP_NPS__c} &lt;= 6, &apos;Détracteur&apos;, if({!$Record.HP_NPS__c} &lt;= 8, &apos;Neutre&apos;, if({!$Record.HP_NPS__c} &lt;= 10, &apos;Promoteur&apos;, &apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>npsAVG</name>
        <dataType>Number</dataType>
        <expression>{!npsScore}/{!npsCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>soustypeValue</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!$Record.HP_satisfaction_need_recall__c} , &apos;Oui&apos;),  &apos;Demande de rappel&apos;,if({!$Record.HP_satisfaction_score__c} &lt; 3,&apos;Note inférieure à 3&apos;,if({!verbatimCodition} = true,&apos;Verbatim&apos;,&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <description>Valeur du sous type happ-e pour le case souscription</description>
        <name>soustypeValueSouscription</name>
        <dataType>String</dataType>
        <expression>if({!$Record.HP_satisfaction_score__c} &lt; 3,&apos;Note inférieure à 3&apos;,if({!verbatimCodition} = true,&apos;Verbatim&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>telephoneScoreAVG</name>
        <dataType>Number</dataType>
        <expression>{!telephoneScore}/{!telephoneCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>verbatimCodition</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!verbatimFormula},&quot;resiliation&quot;) || CONTAINS({!verbatimFormula},&quot;menace&quot;) || CONTAINS({!verbatimFormula},&quot;reclamation&quot;) || CONTAINS({!verbatimFormula},&quot;blocage&quot;) || CONTAINS({!verbatimFormula},&quot;nul&quot;) || CONTAINS({!verbatimFormula},&quot;bug&quot;) || CONTAINS({!verbatimFormula},&quot;incomprehensible&quot;) || CONTAINS({!verbatimFormula},&quot;impossible&quot;)</expression>
    </formulas>
    <formulas>
        <name>verbatimFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(LOWER({!$Record.HP_satisfaction_verbatim__c}), &quot;é&quot; , &quot;e&quot;) , &quot;è&quot; , &quot;e&quot;) , &quot;ê&quot; , &quot;e&quot;) , &quot;à&quot; , &quot;a&quot;)</expression>
    </formulas>
    <interviewLabel>HP_Note de satisfaction processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HP_Note de satisfaction processing</label>
    <loops>
        <name>Loop_Note_Satisfaction</name>
        <label>Loop Note Satisfaction</label>
        <locationX>1156</locationX>
        <locationY>1535</locationY>
        <collectionReference>noteDeSatisfactionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_Assugnment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Case</name>
        <label>create Case</label>
        <locationX>1065</locationX>
        <locationY>1073</locationY>
        <connector>
            <targetReference>has_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sfIdContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Note_de_satisfaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Sous_type__c</field>
            <value>
                <elementReference>soustypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_TreatmentDate__c</field>
            <value>
                <elementReference>dateJ1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Type__c</field>
            <value>
                <stringValue>HP_INSATISFACTION_CLIENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Verbatim__c</field>
            <value>
                <elementReference>$Record.HP_satisfaction_verbatim__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Mediatech</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queue2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.HP_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recontactRTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>TO_DO</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_MKTC</name>
        <label>Create Case MKTC</label>
        <locationX>512</locationX>
        <locationY>1346</locationY>
        <connector>
            <targetReference>has_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sfIdContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Note_de_satisfaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Sous_type__c</field>
            <value>
                <elementReference>soustypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_TreatmentDate__c</field>
            <value>
                <elementReference>dateJ1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Type__c</field>
            <value>
                <stringValue>HP_INSATISFACTION_CLIENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Verbatim__c</field>
            <value>
                <elementReference>$Record.HP_satisfaction_verbatim__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_type_enquete__c</field>
            <value>
                <elementReference>$Record.HP_TypeEnquete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>MKTC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queue2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.HP_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recontactRTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>TO_DO</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Création de case pour la note de souscription</description>
        <name>create_case_souscription</name>
        <label>create case souscription</label>
        <locationX>593</locationX>
        <locationY>1243</locationY>
        <connector>
            <targetReference>has_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sfIdContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Note_NPS__c</field>
            <value>
                <elementReference>noteNPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Note_de_satisfaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Sous_type__c</field>
            <value>
                <elementReference>soustypeValueSouscription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_TreatmentDate__c</field>
            <value>
                <elementReference>dateJ1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Type__c</field>
            <value>
                <stringValue>HP_InsatisfactionSouscription</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Verbatim__c</field>
            <value>
                <elementReference>$Record.HP_satisfaction_verbatim__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Avis vérifiés</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queue2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.HP_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recontactRTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>TO_DO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Insatisfaction client Avis Vérifiés</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Telephone</name>
        <label>Create Case Telephone</label>
        <locationX>824</locationX>
        <locationY>1207</locationY>
        <connector>
            <targetReference>has_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sfIdContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>sfIdContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Note_de_satisfaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Sous_type__c</field>
            <value>
                <elementReference>soustypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_TreatmentDate__c</field>
            <value>
                <elementReference>dateJ1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Type__c</field>
            <value>
                <stringValue>HP_INSATISFACTION_CLIENT_DIABOLOCOM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HP_Verbatim__c</field>
            <value>
                <elementReference>$Record.HP_satisfaction_verbatim__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Mediatech</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queue2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.HP_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recontactRTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>TO_DO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>$Record.HP_Contact__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1271</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_contact_exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_Tiers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HP_client_id__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>sfIdContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Load_Note_satisfaction</name>
        <label>Load Note satisfaction</label>
        <locationX>1181</locationX>
        <locationY>1409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Note_Satisfaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HP_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sfIdContact</elementReference>
            </value>
        </filters>
        <object>HP_NoteDeSatisfaction__c</object>
        <outputReference>noteDeSatisfactionList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HP_satisfaction_score__c</queriedFields>
        <queriedFields>HP_satisfaction_canal__c</queriedFields>
        <queriedFields>HP_NPS__c</queriedFields>
        <queriedFields>HP_TypeEnquete__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>load_RT</name>
        <label>load RT</label>
        <locationX>1011</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loadQueue2Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HP_CaseRecontact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recontactRTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>loadQueue2Id</name>
        <label>loadQueue2Id</label>
        <locationX>737</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_canal_note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HP_Niveau_2</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queue2Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>add_Contact_Link</name>
        <label>add Contact Link</label>
        <locationX>1351</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Creation_Case_decision</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>762</locationX>
        <locationY>1870</locationY>
        <inputReference>currentContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Xdata_Id_Exist</targetReference>
        </connector>
        <object>HP_NoteDeSatisfaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>chatCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>chatScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>csatSouscriptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>csatSouscriptionScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>emailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>emailScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>globalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>globalTotalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcResilCSATCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcResilCSATScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcResilNPSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcResilNPSScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcVDCCsatCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcVDCCSATScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcVDCNPSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>mktcVDCNPSScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noteDeSatisfactionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HP_NoteDeSatisfaction__c</objectType>
    </variables>
    <variables>
        <name>npsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>npsScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>queue2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recontactRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sfIdContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>telephoneCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>telephoneScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
