force-app/main/default/flows/Hp_Retractation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Charger_information_des_contrats_gaz_elec</name>
        <label>Charger les infos des contrats gaz/elec</label>
        <locationX>1063</locationX>
        <locationY>399</locationY>
        <actionName>HP_EM031_RetractLoadContractInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verification_Statut</targetReference>
        </connector>
        <inputParameters>
            <name>souscriptionId</name>
            <value>
                <elementReference>souscriptionId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>dateContractulisation</assignToReference>
            <name>dateContractulisation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dateOrigine</assignToReference>
            <name>dateOrigine</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dateSave3</assignToReference>
            <name>dateSave3</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dateToday</assignToReference>
            <name>dateToday</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dayNumberContractualisation</assignToReference>
            <name>dayNumberContractualisation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dayNumberSave3</assignToReference>
            <name>dayNumberSave3</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>labelStatusElec</assignToReference>
            <name>labelStatusElec</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>labelStatusGaz</assignToReference>
            <name>labelStatusGaz</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elecStatusContract</assignToReference>
            <name>statusElec</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>gazStatusContract</assignToReference>
            <name>statusGaz</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Charger_les_Infos_de_la_PC</name>
        <label>Charger les Infos de la PC gaz/elec</label>
        <locationX>496</locationX>
        <locationY>402</locationY>
        <actionName>HP_EM032_RetractLoadPCInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>V_rification_Statut_PC</targetReference>
        </connector>
        <inputParameters>
            <name>souscriptionId</name>
            <value>
                <elementReference>souscriptionId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>elecStatusPC</assignToReference>
            <name>statusElec</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>gazStatusPC</assignToReference>
            <name>statusGaz</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Charger_les_infos_OPS</name>
        <label>Charger les infos OPS</label>
        <locationX>1067</locationX>
        <locationY>1511</locationY>
        <actionName>HP_EM033_RetractLoadOPSInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>D_cision</targetReference>
        </connector>
        <inputParameters>
            <name>souscriptionId</name>
            <value>
                <elementReference>souscriptionId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>datePrestationElec</assignToReference>
            <name>datePrestationElec</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>datePrestationGaz</assignToReference>
            <name>datePrestationGaz</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>datePrestationMin</assignToReference>
            <name>datePrestationMin</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dayNumberOPS</assignToReference>
            <name>minNumberDateOPS</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>opsExist</assignToReference>
            <name>opsExist</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>elecStatusOPS</assignToReference>
            <name>statusElec</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>gazStatusOPS</assignToReference>
            <name>statusGaz</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Cas_non_trait</name>
        <label>Cas non traité</label>
        <locationX>1058</locationX>
        <locationY>2139</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERREUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La souscription ne peux pas être rétractée, vérifier le dossier et envisager une résiliation.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Date_origine_ou_date_de</name>
        <label>Erreur Pas de date de contractulisation ou origine</label>
        <locationX>688</locationX>
        <locationY>1278</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERREUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date origine ou date de contractualisation n&apos;est pas défini dans la souscription!!</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Erreur_Pas_de_date_Save_3</name>
        <label>Erreur Pas de date Save 3</label>
        <locationX>696</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERREUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pas de date de signature dans la souscription, veuillez renseigner une date avant la rétractation.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Erreur_Pas_de_PC_associ_s</name>
        <label>Erreur Pas de PC associés</label>
        <locationX>806</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERREUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Il n&apos;est pas possible de rétracter un devis.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Parcours_Resiliation</name>
        <label>180-Redirection Résiliation - Renonciation droit rétractation</label>
        <locationX>1598</locationX>
        <locationY>1282</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RESILIATION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templateMessageOutputRenonciationRet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>180</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Pas_de_contrat_dans_XDATA</name>
        <label>Pas de contrat dans XDATA</label>
        <locationX>564</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERREUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pas de Contrat dans XDATA, la requête de contractualisation en erreur doit être traitée en amont.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>R_tractation_avec_frais</name>
        <label>157-Rétractation avec frais d&apos;OPS</label>
        <locationX>768</locationX>
        <locationY>1773</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVEC_FRAIS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La prestation du GRD a été effectuée, la rétractation est possible mais des frais pourraient être appliqués. Souhaitez-vous valider la demande de rétractation ?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>157</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateContractStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatePCStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateSouscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RETRACT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>R_tractation_sans_frais</name>
        <label>156-Rétractation sans frais - Statut CPV Envoyées</label>
        <locationX>801</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SANS_FRAIS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La rétractation sans frais est possible, souhaitez-vous valider la demande de rétractation ?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>156</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatePCStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateSouscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RETRACT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>R_tractation_sans_frais_OPS_n_existe_pas</name>
        <label>181-Rétractation sans frais OPS n&apos;existe pas</label>
        <locationX>1408</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La prestation du GRD a été effectuée, la rétractation est possible mais des frais pourraient être appliqués. Souhaitez-vous valider la demande de rétractation ?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SANS_FRAIS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>181</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateContractStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatePCStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateSouscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RETRACT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X161_Redirection_R_siliation_Statut_Contrat_Actif</name>
        <label>161-Redirection Résiliation - Statut Contrat Actif</label>
        <locationX>1755</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RESILIATION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Le contrat est actif, la demande de rétractation n’est plus possible. La résiliation du contrat peut être faite depuis la vue 360</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>161</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X179_Redirection_R_siliation_D_lai_l_gal_de_r_tractation</name>
        <label>179-Redirection Résiliation - Délai légal de rétractation</label>
        <locationX>1726</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RESILIATION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templateMessageOutputDelaiDepasse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>179</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X182_R_tractation_OPS_Planifi_e_dans_moins_de_48h</name>
        <label>182-Rétractation - OPS Planifiée dans moins de 48h</label>
        <locationX>875</locationX>
        <locationY>2110</locationY>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L’annulation d’une OPS planifiée doit se faire manuellement sur le portail GRD avant d’enregistrer la demande de rétractation.   Attention, l’OPS est prévue dans moins de 48h, des frais d&apos;annulation sont appliqués.   Souhaitez-vous valider la demande de rétractation ?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVEC_FRAIS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>182</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateContractStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatePCStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateSouscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RETRACT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X183_HAPP_81_HAPP_183_R_tractation_OPS_Planifi_e_plus_de_48h</name>
        <label>183- HAPP-81 /  HAPP-183  Rétractation OPS Planifiée à plus de 48h</label>
        <locationX>1251</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>messageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L’annulation d’une OPS planifiée doit se faire manuellement sur le portail GRD avant d’enregistrer la demande de rétractation.   Aucun frais d&apos;annulation n&apos;est appliqué.   Souhaitez-vous valider la demande de rétractation ?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processEndResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SANS_FRAIS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>183</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateContractStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatePCStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateSouscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RETRACT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>AVEC_FRAIS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AVEC_FRAIS</stringValue>
        </value>
    </constants>
    <constants>
        <name>ERREUR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ERREUR</stringValue>
        </value>
    </constants>
    <constants>
        <name>RESILIATION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RESILIATION</stringValue>
        </value>
    </constants>
    <constants>
        <name>SANS_FRAIS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SANS_FRAIS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>D_cision</name>
        <label>Décision</label>
        <locationX>1050</locationX>
        <locationY>1770</locationY>
        <defaultConnector>
            <targetReference>Cas_non_trait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OPS_n_existe_pas</name>
            <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>opsExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>elecStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0105</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0105</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R_tractation_sans_frais_OPS_n_existe_pas</targetReference>
            </connector>
            <label>OPS n&apos;existe pas</label>
        </rules>
        <rules>
            <name>R_tractation_avec_frais_d_OPS</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>elecStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>elecStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annulé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>elecStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annulé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R_tractation_avec_frais</targetReference>
            </connector>
            <label>Rétractation avec frais d&apos;OPS</label>
        </rules>
        <rules>
            <name>planifier_dans_moins_48h</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>elecStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>elecStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayNumberOPS</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X182_R_tractation_OPS_Planifi_e_dans_moins_de_48h</targetReference>
            </connector>
            <label>planifier dans moins 48h</label>
        </rules>
        <rules>
            <name>planifier_plus_moins_48h</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>elecStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>elecStatusOPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayNumberOPS</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X183_HAPP_81_HAPP_183_R_tractation_OPS_Planifi_e_plus_de_48h</targetReference>
            </connector>
            <label>planifier plus moins 48h</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dans_le_delai_legal_de_retractation</name>
        <label>Dans le délai légal de rétractation</label>
        <locationX>1066</locationX>
        <locationY>1026</locationY>
        <defaultConnector>
            <targetReference>X179_Redirection_R_siliation_D_lai_l_gal_de_r_tractation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_Date_Save_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dayNumberSave3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erreur_Pas_de_date_Save_3</targetReference>
            </connector>
            <label>Pas de Date Save 3</label>
        </rules>
        <rules>
            <name>Inferieur_14_jours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dayNumberSave3</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renonciation_droit_r_tractation</targetReference>
            </connector>
            <label>Inférieur à 14 jours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renonciation_droit_r_tractation</name>
        <label>Renonciation droit à rétractation</label>
        <locationX>1065</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Charger_les_infos_OPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_contractulisation_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dayNumberContractualisation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_origine_ou_date_de</targetReference>
            </connector>
            <label>Date contractulisation null</label>
        </rules>
        <rules>
            <name>Inf_rieur_14_jours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dayNumberContractualisation</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parcours_Resiliation</targetReference>
            </connector>
            <label>Inférieur à 14 jours</label>
        </rules>
    </decisions>
    <decisions>
        <name>V_rification_Statut_PC</name>
        <label>Vérification Statut PC</label>
        <locationX>791</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Charger_information_des_contrats_gaz_elec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_PC_NULL_pas_de_PC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>elecStatusPC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusPC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erreur_Pas_de_PC_associ_s</targetReference>
            </connector>
            <label>Status PC NULL (pas de PC)</label>
        </rules>
        <rules>
            <name>PC_envoy_ou_Proposition_envoyer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>elecStatusPC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E0005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>elecStatusPC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusPC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H0001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusPC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E0005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R_tractation_sans_frais</targetReference>
            </connector>
            <label>PC envoyé ou Proposition à envoyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_Statut</name>
        <label>Vérification Statut Contrat Actif</label>
        <locationX>1066</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>Dans_le_delai_legal_de_retractation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_Contrat_sur_XDATA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>elecStatusContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_de_contrat_dans_XDATA</targetReference>
            </connector>
            <label>Pas de Contrat sur XDATA</label>
        </rules>
        <rules>
            <name>Contrat_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>elecStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E0004</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gazStatusContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E0004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X161_Redirection_R_siliation_Statut_Contrat_Actif</targetReference>
            </connector>
            <label>Contrat Activé</label>
        </rules>
    </decisions>
    <formulas>
        <name>elecStatusMessage</name>
        <dataType>String</dataType>
        <expression>if(OR({!elecStatusContract} = &quot;H0105&quot; , {!elecStatusContract} = &quot;H0101&quot; , {!elecStatusContract} = &quot;H0104&quot;) , &quot; Elec &quot; &amp; {!labelStatusElec} &amp;&quot; (&quot;&amp;{!elecStatusContract}&amp;&quot;)&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>gazStatusMessage</name>
        <dataType>String</dataType>
        <expression>if(OR({!gazStatusContract} = &quot;H0105&quot; , {!gazStatusContract} = &quot;H0101&quot; , {!gazStatusContract} = &quot;H0104&quot;) , &quot; Gaz &quot; &amp; {!labelStatusGaz} &amp;&quot; (&quot;&amp;{!gazStatusContract}&amp;&quot;)&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Hp Retractation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hp Retractation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Charger_les_Infos_de_la_PC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateMessageOutputDelaiDepasse</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Le contrat est  {!elecStatusMessage} {!gazStatusMessage} et le délai légal de rétractation a expiré, la demande de rétractation n’est pas possible. La résiliation du contrat peut être faite depuis la vue 360&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateMessageOutputRenonciationRet</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Le contrat est &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!elecStatusMessage} {!gazStatusMessage}&lt;/span&gt; et le client a renoncé à son délai de rétractation lors de la souscription. La demande de rétractation n’est pas possible. La résiliation du contrat peut être faite depuis la vue 360&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>createCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dateContractulisation</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateOrigine</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datePrestationElec</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datePrestationGaz</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>datePrestationMin</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateSave3</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dayNumberContractualisation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>dayNumberOPS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>dayNumberSave3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>elecStatusContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>elecStatusOPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>elecStatusPC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gazStatusContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gazStatusOPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gazStatusPC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>labelStatusElec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>labelStatusGaz</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>messageOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opsExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processEndResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>IMPOSSIBLE</stringValue>
        </value>
    </variables>
    <variables>
        <name>souscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateContractStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>updatePCStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>updateSouscriptionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>US</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
