force-app/main/default/flows/HP_RGPD_PurgeDonneesIdentification_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Confirmation</name>
        <label>Send Confirmation</label>
        <locationX>182</locationX>
        <locationY>5474</locationY>
        <actionName>HP_RGPD_PurgeDonneesInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventObject</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Case_Anonyme_Values</name>
        <label>Assign Case Anonyme Values</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_StreetNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_StreetLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_PDL_PCE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_Verbatim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.HP_Town__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_List_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_List_to_Update</name>
        <label>Assign Case List to Update</label>
        <locationX>138</locationX>
        <locationY>1634</locationY>
        <assignmentItems>
            <assignToReference>caseListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chat_Transcript_Anonyme_Values</name>
        <label>Assign Chat Transcript Anonyme Values</label>
        <locationX>138</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Chat_Transcripts.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Chat_Transcript_List_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chat_Transcript_List_to_Update</name>
        <label>Assign Chat Transcript List to Update</label>
        <locationX>138</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>chatTranscriptListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Chat_Transcripts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Chat_Transcripts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Anonyme_Values</name>
        <label>Assign Contact Anonyme Values</label>
        <locationX>182</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>getContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAnonyme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeMoblie</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.HP_ContactNameLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.HP_Numero_etranger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeMoblie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Anonyme_Values</name>
        <label>Assign Contract Anonyme Values</label>
        <locationX>1205</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>Get_Contrat_Happe.HP_Id_Compteur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contrat_Happe.HP_Numero_reference_du_Compteur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Anonyme_Values</name>
        <label>Assign Email Anonyme Values</label>
        <locationX>138</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.CcAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAnonyme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.BccAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAnonyme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAnonyme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.ValidatedFromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.Headers</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Emails.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Email_List_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_List_to_Update</name>
        <label>Assign Email List to Update</label>
        <locationX>138</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>emailListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Anonyme_Values</name>
        <label>Assign Event Anonyme Values</label>
        <locationX>138</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Events.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Event_List_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_List_to_Update</name>
        <label>Assign Event List to Update</label>
        <locationX>138</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>eventListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Option_Vert_List_to_Update</name>
        <label>Assign Option Vert List to Update</label>
        <locationX>1161</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>optionVertListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Option_Vertelec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Option_Vertelec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Option_VertElec_Anonyme_Values</name>
        <label>Assign Option VertElec Anonyme Values</label>
        <locationX>1161</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Option_Vertelec.HP_NumPDL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Option_Vert_List_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prestation_List_to_Update</name>
        <label>Assign Prestation List to Update</label>
        <locationX>1161</locationX>
        <locationY>1394</locationY>
        <assignmentItems>
            <assignToReference>prestationListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Prestations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Prestations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prestations_Anonyme_Values_0_0</name>
        <label>Assign Prestations Anonyme Values</label>
        <locationX>1161</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Prestations.Civilite_interlocuteur_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Prestations.HP_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Prestations.Nom_contact_d_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Prestations.Numero_PDL_PCE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Prestations.Prenom_contact_d_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Prestations.Telephone_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeMoblie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Prestation_List_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Souscription_Anonyme_Values_0</name>
        <label>Assign Souscription Anonyme Values</label>
        <locationX>754</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_DigitalElecDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_DigitalGazDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_DigitalDocumentMandateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_DocumentMandateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_RUM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Estimation_Consommation_electrique__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Estimation_Consommation_gaz__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_code_Postal_Insee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_code_Postal_Insee_facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Code_postal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Code_postal_facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Complement_d_adresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Complement_d_adresse_facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Nom_de_rue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Nom_de_ville__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Numero_de_voie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_emailDevis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAnonyme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_NumberPCE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_NumPDL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Predecesseur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Nom_de_rue_facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Nom_de_ville_facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Numero_de_voie_facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_CoContractant__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_TECH_FormulaConcatField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_TECH_FormulaEnergyPDLPCEConcatField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_TECH_FormulaEnergyPDLPCEField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedSouscriptions.HP_Nom_Contractant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnonymeFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Souscriptions_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Anonyme_Values</name>
        <label>Assign Task Anonyme Values</label>
        <locationX>138</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Tasks.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_List_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_List_To_Update</name>
        <label>Assign Task List To Update</label>
        <locationX>138</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>taskListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AnonymeFullName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>anonyme anonyme</stringValue>
        </value>
    </constants>
    <constants>
        <name>AnonymeMoblie</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0600000000</stringValue>
        </value>
    </constants>
    <constants>
        <name>AnonymeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>anonyme</stringValue>
        </value>
    </constants>
    <constants>
        <name>AnonymePhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0100000000</stringValue>
        </value>
    </constants>
    <constants>
        <name>EmailAnonyme</name>
        <dataType>String</dataType>
        <value>
            <stringValue>anonymisation@happe.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>eventType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PurgeDonneesIdentification</stringValue>
        </value>
    </constants>
    <constants>
        <name>Happe</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HAPPE</stringValue>
        </value>
    </constants>
    <constants>
        <name>relationClientSubType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GestionRelationClient</stringValue>
        </value>
    </constants>
    <constants>
        <name>subTypeFourniture</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FournitureServicesEnergie</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Event_Type</name>
        <label>Check Event Type</label>
        <locationX>1205</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Not Supported</defaultConnectorLabel>
        <rules>
            <name>Is_Gestion_relation_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.eventType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eventType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.eventSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>relationClientSubType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>Is Gestion relation client</label>
        </rules>
        <rules>
            <name>Is_Fourniture_service_d_nergie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.eventType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eventType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.eventSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>subTypeFourniture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Id_Contrat_Exists</targetReference>
            </connector>
            <label>Is Fourniture  service d&apos;énergie</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>336</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedCases</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Exists</name>
        <label>Contract Exists?</label>
        <locationX>1375</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Contract Not Found</defaultConnectorLabel>
        <rules>
            <name>Contract_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contrat_Happe</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedPrestations</targetReference>
            </connector>
            <label>Contract Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Cases</name>
        <label>Has Cases?</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Has_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cases Not Found</defaultConnectorLabel>
        <rules>
            <name>Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Cases</targetReference>
            </connector>
            <label>Cases Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Chat_Transcripts</name>
        <label>Has Chat Transcripts</label>
        <locationX>182</locationX>
        <locationY>3650</locationY>
        <defaultConnector>
            <targetReference>Has_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chat Transcripts Not Found</defaultConnectorLabel>
        <rules>
            <name>Chat_Transcripts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedChatTranscriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Chat_Transcripts</targetReference>
            </connector>
            <label>Chat Transcripts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Emails</name>
        <label>Has Emails?</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Has_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Emails Not Found</defaultConnectorLabel>
        <rules>
            <name>Emails_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Emails</targetReference>
            </connector>
            <label>Emails Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Events</name>
        <label>Has Events?</label>
        <locationX>182</locationX>
        <locationY>4442</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Anonyme_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Events Not Found</defaultConnectorLabel>
        <rules>
            <name>Events_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedEvents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Events</targetReference>
            </connector>
            <label>Events Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Tasks</name>
        <label>Has Tasks?</label>
        <locationX>182</locationX>
        <locationY>2858</locationY>
        <defaultConnector>
            <targetReference>Has_Chat_Transcripts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tasks Not Found</defaultConnectorLabel>
        <rules>
            <name>Tasks_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Tasks</targetReference>
            </connector>
            <label>Tasks Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_Contrat_Exists</name>
        <label>Id Contrat Exists?</label>
        <locationX>1592</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Id Not Found</defaultConnectorLabel>
        <rules>
            <name>Id_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.idContrat__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contrat_Happe</targetReference>
            </connector>
            <label>Id Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_Portefeuille_Contract_Exists</name>
        <label>Id Portefeuille Contract Exists?</label>
        <locationX>1205</locationX>
        <locationY>2618</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_Anonyme_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Id Portefeuille Contract Not Found</defaultConnectorLabel>
        <rules>
            <name>Id_Portefeuille_Contract_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.idPortefeuilleContrat__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portefeuille_Contract</targetReference>
            </connector>
            <label>Id Portefeuille Contract Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Happe</name>
        <label>Is Happe?</label>
        <locationX>1771</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Not Happe Event</defaultConnectorLabel>
        <rules>
            <name>HappeEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.eventSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Happe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Event_Type</targetReference>
            </connector>
            <label>Happe Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Option_Vertelec_Exists</name>
        <label>Option Vertelec Exists?</label>
        <locationX>1205</locationX>
        <locationY>1826</locationY>
        <defaultConnector>
            <targetReference>Id_Portefeuille_Contract_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Option Vertelec Not Found</defaultConnectorLabel>
        <rules>
            <name>Option_Vertelec_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedOptionVert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Option_Vertelec</targetReference>
            </connector>
            <label>Option Vertelec found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portefeuille_Contract_Exists</name>
        <label>Portefeuille Contract Exists?</label>
        <locationX>1040</locationX>
        <locationY>2858</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_Anonyme_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Portefeuille Contract Not Found</defaultConnectorLabel>
        <rules>
            <name>Portefeuille_Contract_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Portefeuille_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedSouscriptions</targetReference>
            </connector>
            <label>Portefeuille Contract Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prestations_Distributeurs_Exists</name>
        <label>Prestations Distributeurs Exists?</label>
        <locationX>1205</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Option_Vertelec_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prestations Not Found</defaultConnectorLabel>
        <rules>
            <name>Prestations_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedPrestations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Prestations</targetReference>
            </connector>
            <label>Prestations Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Souscriptions_Exists</name>
        <label>Souscriptions Exists?</label>
        <locationX>886</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_Anonyme_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Souscriptions Not Found</defaultConnectorLabel>
        <rules>
            <name>Sosucription_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedSouscriptions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Souscription_Anonyme_Values_0</targetReference>
            </connector>
            <label>Souscriptions Found</label>
        </rules>
    </decisions>
    <description>Anonymiser les enregistrements associés au contact GDPR.</description>
    <formulas>
        <name>idPortefeuilleContratFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.idPortefeuilleContrat__c})</expression>
    </formulas>
    <interviewLabel>HP_RGPD_PurgeDonneesIdentification_PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HP_RGPD_PurgeDonneesIdentification_PE</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>50</locationX>
        <locationY>1394</locationY>
        <collectionReference>getRelatedCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Anonyme_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Chat_Transcripts</name>
        <label>Loop Through Chat Transcripts</label>
        <locationX>50</locationX>
        <locationY>3770</locationY>
        <collectionReference>getRelatedChatTranscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Chat_Transcript_Anonyme_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Chat_Transcripts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Emails</name>
        <label>Loop Through Emails</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <collectionReference>getRelatedEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Email_Anonyme_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Events</name>
        <label>Loop Through Events</label>
        <locationX>50</locationX>
        <locationY>4562</locationY>
        <collectionReference>getRelatedEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Event_Anonyme_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Option_Vertelec</name>
        <label>Loop Through Option Vertelec</label>
        <locationX>1073</locationX>
        <locationY>1946</locationY>
        <collectionReference>getRelatedOptionVert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Option_VertElec_Anonyme_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Option_Vert_Elec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Prestations</name>
        <label>Loop Through Prestations</label>
        <locationX>1073</locationX>
        <locationY>1154</locationY>
        <collectionReference>getRelatedPrestations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Prestations_Anonyme_Values_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Prestations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>50</locationX>
        <locationY>2978</locationY>
        <collectionReference>getRelatedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Anonyme_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contrat_Happe</name>
        <label>Get Contrat Happe</label>
        <locationX>1375</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HP_Contrat_XdataId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.idContrat__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HP_Contrat__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portefeuille_Contract</name>
        <label>Get Portefeuille Contract</label>
        <locationX>1040</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Portefeuille_Contract_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Xdata_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPortefeuilleContratFormatted</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HP_Porte_Feuille_Contrat__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>336</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_Tiers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.idTiers__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedCases</name>
        <label>getRelatedCases</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedChatTranscriptions</name>
        <label>getRelatedChatTranscriptions</label>
        <locationX>182</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedEvents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedEmails</name>
        <label>getRelatedEmails</label>
        <locationX>182</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedEvents</name>
        <label>getRelatedEvents</label>
        <locationX>182</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedOptionVert</name>
        <label>getRelatedOptionVert</label>
        <locationX>1205</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prestations_Distributeurs_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HP_ContratHappe__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contrat_Happe.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HP_OptionVertelec__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedPrestations</name>
        <label>getRelatedPrestations</label>
        <locationX>1205</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedOptionVert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HP_Contrat__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contrat_Happe.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prestation_distributeur__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedSouscriptions</name>
        <label>getRelatedSouscriptions</label>
        <locationX>886</locationX>
        <locationY>2978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Souscriptions_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HP_Porte_Feuille_Contrat__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Portefeuille_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HP_Souscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedTasks</name>
        <label>getRelatedTasks</label>
        <locationX>182</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedChatTranscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>50</locationX>
        <locationY>1850</locationY>
        <connector>
            <targetReference>Has_Emails</targetReference>
        </connector>
        <inputReference>caseListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Chat_Transcripts</name>
        <label>Update Chat Transcripts</label>
        <locationX>50</locationX>
        <locationY>4226</locationY>
        <connector>
            <targetReference>Has_Events</targetReference>
        </connector>
        <inputReference>chatTranscriptListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>5354</locationY>
        <connector>
            <targetReference>Send_Confirmation</targetReference>
        </connector>
        <inputReference>getContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>1205</locationX>
        <locationY>3866</locationY>
        <connector>
            <targetReference>Send_Confirmation</targetReference>
        </connector>
        <inputReference>Get_Contrat_Happe</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Emails</name>
        <label>Update Emails</label>
        <locationX>50</locationX>
        <locationY>2642</locationY>
        <connector>
            <targetReference>Has_Tasks</targetReference>
        </connector>
        <inputReference>emailListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Events</name>
        <label>Update Events</label>
        <locationX>50</locationX>
        <locationY>5018</locationY>
        <connector>
            <targetReference>Assign_Contact_Anonyme_Values</targetReference>
        </connector>
        <inputReference>eventListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Option_Vert_Elec</name>
        <label>Update Option Vert Elec</label>
        <locationX>1073</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>Id_Portefeuille_Contract_Exists</targetReference>
        </connector>
        <inputReference>optionVertListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prestations</name>
        <label>Update Prestations</label>
        <locationX>1073</locationX>
        <locationY>1610</locationY>
        <connector>
            <targetReference>Option_Vertelec_Exists</targetReference>
        </connector>
        <inputReference>prestationListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Souscriptions_0</name>
        <label>Update Souscriptions</label>
        <locationX>754</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Assign_Contract_Anonyme_Values</targetReference>
        </connector>
        <inputReference>getRelatedSouscriptions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>50</locationX>
        <locationY>3434</locationY>
        <connector>
            <targetReference>Has_Chat_Transcripts</targetReference>
        </connector>
        <inputReference>taskListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>1645</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Happe</targetReference>
        </connector>
        <object>RGPD_PurgeDonneesIdentification__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>chatTranscriptListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>emailListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>eventListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>idPortefeuilleContractVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>optionVertListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HP_OptionVertelec__c</objectType>
    </variables>
    <variables>
        <name>prestationListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prestation_distributeur__c</objectType>
    </variables>
    <variables>
        <name>souscriptionsListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HP_Souscription__c</objectType>
    </variables>
    <variables>
        <name>taskListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
