force-app/main/default/flows/HP_RunContractualisationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call invocable method rerunContractualisationAgilab</description>
        <name>Contractualisation</name>
        <label>Contractualisation</label>
        <locationX>796</locationX>
        <locationY>51</locationY>
        <actionName>HP_SM031_RelanceSouscriptionSave3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>myCaseIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnVar</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>ValidationText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Êtes vous certain de vouloir relancer la création du contrat dans Agilab ainsi que la prestation GRD </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Verifier_type_happe_et_souscription</name>
        <label>Verifier type happe et souscription</label>
        <locationX>372</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Error_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_Verifier_type_happe_et_souscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>souscriptionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>happeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HP_Contractualization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>Condition Verifier type happe et souscription</label>
        </rules>
    </decisions>
    <description>Run the contractualisation process from HP_ContractErrorSave3 case recordtype in order to create contract in Agilab and prestation GRD.</description>
    <interviewLabel>Run contractualisation process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run contractualisation process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Load_Case</name>
        <label>Load Case</label>
        <locationX>288</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifier_type_happe_et_souscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>souscriptionId</assignToReference>
            <field>HP_Souscription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>happeType</assignToReference>
            <field>HP_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>476</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contractualisation</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;{!ValidationText} ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;{!$Flow}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_End</name>
        <label>Error End</label>
        <locationX>604</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;Cette action n&apos;est pas autorisée pour ce type de requête.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Response</name>
        <label>Response</label>
        <locationX>796</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageRetourContractualisation</name>
            <fieldText>&lt;p&gt;{!returnVar}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Load_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>happeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>case record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>souscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
